{% extends 'layout.html' %}

{% block content %}

<h1>About</h1>

<p>
  As an indie developer, I&apos;ve been spending hours and hours at my
  desk every day. So, I&apos;ve been continuously improving my
  workspace in order to boost my productivity. Whenever I upload new
  content, people ask me what tools I use. So, here is a living
  snapshot and a place to point curious developers to when I get
  asked. Most of the links are amazon affiliate links, so I&apos;ll
  get filthy rich if you click them and buy something.
</p>

{% endblock  %}