{% extends 'layout.html' %}

{% block content %}



<div class="col-md-4 offset-md-4">
  <form action='password' div class="card">
    <div align='center'>
      
      <h1 style='color: blue' >Password Generator</h1>
      
      <label for='length'>Select the length of you password:</label>
      <select name='length' id="">
        <option value="6">6 Characters</option>
        <option value="7">7 Characters</option>
        <option value="8">8 Characters</option>
        <option value="9">9 Characters</option>
        <option value="10">10 Characters</option>
        <option value="11">11 Characters</option>
        <option value="12">12 Characters</option>
        <option value="13">13 Characters</option>
        <option value="14">14 Characters</option>
      </select>
      
      <label for="uppercase">UpperCase</label>
      <input type="checkbox" name="uppercase" id="uppercase" />
      
      <label for="special">Special Characters</label>
      <input type="checkbox" name="special" id="special" />
      
      
    </div>
    <button>Generate Password</button>
    
  </form>
</div>

{% endblock  %}